header {
    position: relative;
    z-index: 1000;
}

.nav-bar {
    position: relative;
    z-index: 1000;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "PT Serif", serif;
    background: rgb(244, 243, 233);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    min-height: 100%;
}

main {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.script {
    font-family: "Pinyon Script", cursive;
}

.ampersand {
    font-family: "Alex Brush", cursive;
}

.color-green1 {
    color: rgb(164, 163, 76);
}

.color-green2 {
    color: rgb(119, 126, 53);
}

.color-ivory {
    color: rgb(244, 243, 233);
}

.color-pink1 {
    color: rgb(218, 133, 129);
}

.color-pink2 {
    color: rgb(209, 106, 106);
}

.color-blue {
    color: rgb(120, 157, 206);
}