---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow">
    <link rel="icon" type="image/png" href="/heart.png" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
    href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Pinyon+Script&family=PT+Serif:wght@400;700&display=swap"
    rel="stylesheet"
    />
</head>

<body>
    <Navbar />

    <main>
        <slot />
    </main>

    <Footer />
</body>
</html>