<footer class="footer">
 <p class="color-ivory">Have a question? Reach out to Audrey or Andrew for information not listed here!</p>
</footer>

<style>
    .footer {
        background: rgb(119,126,53);

        width: 100%;
        box-sizing: border-box;

        padding: .5rem;
        text-align: center;
    }
</style>