<section class="hero color-blue">
    <h1 class="script our-names">Audrey <span class="ampersand our-names">&amp;</span>Andrew</h1>
    <p>ARE GETTING MARRIED!</p>
</section>

<style>
.our-names {
    font-size: 96px;
    margin-bottom: 0rem !important;
}

p {
    margin-top: 0rem !important;
}

.hero {
    text-align: center;
    padding: 0rem;
}
</style>