<header>
    <nav class="nav-bar">
        <a href="#home" class="link color-ivory">Home</a>
        <a href="#qanda" class="link color-ivory">Q&A</a>
        <a href="#timeline" class="link color-ivory">Timeline</a>
        <a href="#registry" class="link color-ivory">Registry</a>
        <a href="#rsvp" class="link color-ivory">RSVP</a>
    </nav>
</header>

<style>
.nav-bar {
    background-color: rgb(119, 126, 53);
    padding: 1rem;
    display: flex;
    justify-content: right;
}

.link {
    text-decoration: none;;
    padding-right: 1rem;
}

</style>