---
const images = [
    "/images/engagement-photos/IMG_1988.jpg",
    "/images/engagement-photos/IMG_1989.jpg",
    "/images/engagement-photos/IMG_2013.jpg",
    "/images/engagement-photos/IMG_2015.jpg",
    "/images/engagement-photos/IMG_2016.jpg",
    "/images/engagement-photos/IMG_1996.jpg",
    "/images/engagement-photos/IMG_2009.jpg",
    "/images/engagement-photos/IMG_2014.jpg",
];
---
<div class="frame">
    <div class="photo-frame">
        <img id="carousel-image" src={images[0]} alt="Audrey and Andrew" />
    </div>
</div>

<script define:vars={{ images }}>
    let current = 0;

    const image = document.getElementById("carousel-image");

    setInterval(() => {
        current = (current + 1) % images.length;
        image.src = images[current];
    }, 3000);
</script>

<style>
    .photo-frame img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .frame {
        --frame-size: min(500px, 90vw);

        width: var(--frame-size);
        height: var(--frame-size);

        display: flex;
        justify-content: center;
        align-items: center;

        background: url("/images/floral-frame.png") center/contain no-repeat;

        margin: 2rem auto;
    }

    .photo-frame {
        width: 70%;
        height: 70%;

        overflow: hidden;
        border-radius: 20px;
    }
</style>